:root {

    background-color: rgba(66, 108, 77, 0.678)

}

body {

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

}

.panel {

    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}

.question-container,
.result {

    margin: 10px;
    padding: 50px;
    width: 80%;
    height: 20%;
    text-align: center;
    font-size: 32px;
    background-color: #c7dddf;
    font-family: monospace;
    border-style: inset;
    border-color: gray;
    border-radius: 8px;

}

.result:before {

    content: " ";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 3px inset gray;
    border-radius: 8px;
    
  }

.option-container {

    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 25px;
    width: 90%;
    height: 20%;
    background-color: #9ed1b3;
    border-style: inset;
    border-color: gray;
    border-radius: 8px;

}

.option {

    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 25%;
    font-size: larger;
    flex-wrap: wrap;
    background-color: lightskyblue;
    border-radius: 8px;

}

.option:hover {

    background-color: lightgoldenrodyellow;
}

.navigation {

    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: #c7dddf;
    border-style: inset;
    border-color: gray;

}

.evaluate {

    margin-top: 10px;
    width: 40%;
    height: 80%;
    padding: 10px;
    font-size: larger;
    background-color: #50DBB4;
    border-radius: 8px;
    text-align: center;
}

.score-container {

    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    width: 80%;
    height: 20%;
    text-align: center;
    font-size: 20px;
    background-color: #c7dddf;
    font-family: monospace;
    border-style: inset;
    border-color: gray;
    border-radius: 8px;

}

.option {

    display: flex;
    justify-content: safe;
    margin: auto;

}

.row:after {
   
    box-sizing: border-box; 
    content: "";
    display: table;
    clear: both;
    
}

.column {

    box-sizing: border-box;
    font-family: monospace;
    font-size: 20px;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    background-color: gray;
    border-style: inset;

}

@media screen and (max-width: 1000px) {
    
    .option {

       font-size: 12px;

    }
}